.filter {
  display: flex;
  justify-content: center;
  font-family: cursive;
  margin: 20px;
  color: white;
  font-weight: 700;
  padding: 40px 0 60px 0;

}

.filter select {
  background-color: azure;
  font-family: cursive;

}

section .datos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

article {
  font-family: cursive;
  border: 3px solid black;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(to bottom, rgb(94, 122, 137), rgb(164, 162, 162) 80%, rgb(72, 55, 25));
  text-align: center;
  width: 250px;
  max-height: 500px;

}


article img {
  max-width: 180px;
  border: 2px solid black;
}

article h2 {
  font-size: 19px;
  color: rgb(221, 220, 220);
}

article h2 p {
  font-size: 15px;
}
